.floating-object {
  position: absolute;
  top: -120px;
  left: 0;
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 10;
  will-change: transform;
  transform-origin: 50% 50%;
}

.floating-object img {
  width: 100%;
  height: 100%;
  display: block;
}



.logo-outer1 {
  max-width: 1200px;
  height: 200px;
  /* background: radial-gradient(89.08% 84.62% at 16.54% 78.46%,#fbfefa 0%,#c9f6b4 39.58%,#abff84 77.6%,#2fee65 100%); */
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.logo {
  width: 66%;
  max-height: 66%;
}

.sponsor {
  display: inline-block;
  transform-style: preserve-3d;
}


/* final effect */

.reveal-section {
  position: relative;
  padding: 120px 0;
}

/* hidden by default */
.reveal-text {
  color: #eaffea;
  line-height: 1.6;

  -webkit-mask-image: radial-gradient(circle at center, #000 0%, transparent 65%);
  -webkit-mask-size: 0% 0%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: radial-gradient(circle at center, #000 0%, transparent 65%);
  mask-size: 0% 0%;
  mask-repeat: no-repeat;
  mask-position: center;
}


